.ProductContainer {
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-content: center;
    background-color: white;
    /* border-radius: 14px; */
    padding: 0;
    overflow: hidden;
}

.ProductImage {
    display: flex;
    margin: 25px;
    width: 80%;
    height: 60%;
}

.ProductImage img{
    width: 80%;
    height: 80%;
    object-fit: fill;
    padding: 1rem;
}

.ProductContainer:hover {
    box-shadow: 0 2px 2px 0.1px rgba(0, 0, 0, 0.2);
    /* transform: scale3d(1.1, 1.1, 1.1); */
    /* z-index: 99; */
    /* position: absolute; */

}

.ProductBuyNow {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    padding-left: 0;
    overflow: hidden;
    /* height: ; */
}

.ProductBuyNow button {
    padding: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    float: left;
    background: #ff9f00;
    color: var(--color-white-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 2rem;
}

.ProductBuyNow button span{
 margin-left: 2px;
 font-size: 12px;
 font-weight: bold;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ProductBuyNow button:hover {
    background: #eb9100;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    cursor: pointer;

}