.User-header{
    min-height: 100vh;
    width: 100%;
    background-color: #eeeff0;
}

.User-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.User-navBar-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.User-carousel-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
}
